:root {
  --primary-bg-color: #fffafbff;
  --nav-bg-color: #FAD6BE;
  --nav-text-color: #fffafbff;
  --text-accent-color: #61A9AD;
  --button-color: #BEF7FA;
  --text-color: #AD8A72;
  --shadow-color: rgb(181, 184, 171);
  --error: #c83f3f;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
  font-family: "Ubuntu", sans-serif;
}

button {
  margin: 10px 20px;
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--nav-text-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

section {
  width: 100vw;
}

img {
  vertical-align: middle;
}

