:root {
    --primary-bg-color:  #fffafbff;
    --nav-bg-color: #7de2d1ff;
    --nav-text-color: #fffafbff;
    --text-accent-color: #339989ff;
    --button-color: #339989ff;
    --text-color: #2b2c28ff; 
    --shadow-color: rgb(181, 184, 171); 
    --error: #c83f3f;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    transition: 0.1s;
    font-family: Ubuntu;
  }