<main>
    <form id="createForm" [formGroup]="createForm" (ngSubmit)="handleSubmit()">
        <h1>Product Information</h1>
        <label for="category"> CATEGORY*</label>
        <input id="category" formControlName="category">

        <label for="brand"> BRAND*</label>
        <input id="brand" formControlName="brand">

        <label for="itemName"> ITEM NAME*</label>
        <input id="itemName" formControlName="itemName">

        <label for="size"> SIZE*</label>
        <select id="size" formControlName="size">
            <option  ngValue="XL">XL</option>
            <option ngValue="L">L</option>
            <option selected="selected" ngValue="M">M</option>
            <option ngValue="S">S</option>
            <option ngValue="XS">XS</option>
        </select>

        <label for="color"> COLOR*</label>
        <select id="color" formControlName="color">
            <option  selected="selected" ngValue="BEIGE">BEIGE</option>
            <option ngValue="BLACK">BLACK</option>
            <option  ngValue="BLUE">BLUE</option>
            <option ngValue="BROWN">BROWN</option>
            <option ngValue="COPPER">COPPER</option> 
            <option ngValue="CREAM">CREAM</option>
            <option  ngValue="GOLD">GOLD</option>
            <option ngValue="GREEN">GREEN</option>
            <option ngValue="GREY">GREY</option>
            <option ngValue="MULTI">MULTI</option>
            <option  ngValue="NAVY">NAVY</option>
            <option ngValue="ORANGE">ORANGE</option>
            <option ngValue="PINK">PINK</option>
            <option ngValue="PURPLE">PURPLE</option>
            <option  ngValue="RED">RED</option>
            <option ngValue="SILVER">SILVER</option>
            <option ngValue="TAN">TAN</option>
            <option  ngValue="WHITE">WHITE</option>
            <option ngValue="YELLOW">YELLOW</option>
            <option ngValue="PHANTOM">PHANTOM</option>
        </select>

        <label for="description">DESCRIPTION*</label>
        <textarea id="description" formControlName="description" placeholder=""></textarea>

        <label for="notes">NOTES TIPs</label>
        <textarea id="notes" formControlName="notes" placeholder=""></textarea>

        <label for="price">PRICE*</label>
        <input type="number" id="price" formControlName="price" value="0">

        <label for="calendarFromDate">Calendar From Date</label>
        <input type="date" id="calendarFromDate" formControlName="calendarFromDate">
        
        <label for="calendarUntilDate">Calendar Until Date</label>
        <input type="date" id="calendarUntilDate" formControlName="calendarUntilDate">

        <p>* INDICATES A REQUIRED FIELD</p>

        <!-- <p>Images</p>
        <input type="file" class="file-input"
            (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">

        {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div> -->


        <div class="buttons">
            <button [disabled]="!createForm.valid">Send to Review</button>
          </div>
    </form>
</main>

