main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


form{
    width: 500px;
    display: flex-wrap;
    justify-content: center;
    align-items: center;
}