<main>
    <div class="bigNav">
        <img class="logo" src="../../assets/logo-v1-0.png">
        
        <div class="nav__dropdowns">
            
            <h3 class="dropbtn" (click)="dropShowProduct()" >Producto
            <div id="dropdown__product" class="dropdown-content">
                <h4>Vestidos</h4>
                <a href="#">Encuentra un vestido para alquilar</a>
                <a routerLink="/seller">Pon tu vestido en alquiler</a>
              </div>
            </h3>
            <h3>Precios</h3>
        </div>

        <div class="nav__links">
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
                    <div *ngIf="auth.user$ | async as user">
                        {{ user.name }}
                    </div>
                </button>
              </ng-container>
          
              <ng-template #loggedOut>
                <button (click)="auth.loginWithRedirect()">Log in</button>
              </ng-template>
            <h3>Me gusta</h3>
            <h3>Atención al Cliente</h3>
        </div>
    </div>
</main>

