.home__container{
    overflow: hidden;
    position: relative;
    height: 26.25rem;
    background-image: url('../../assets/main-section-bg.jpeg');
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--nav-text-color)
}

.home__switch{
    display: flex;
    align-items: center;
    padding: 20px;
    gap:20px;
    border-radius: 2.125rem;
    background-color: #f9f9f9;
    cursor: pointer;
}

.home__switch h3{
    color:gray;
    padding: 10px;
}

.selected{
    background-color: var(--nav-text-color);
    
    border-radius: 2.125rem;
}